<h1>This is products page</h1>

<ul>
  <% @products.each do |product| %>
    <li>
    
      <%= link_to product.name, product %>
    </li>
  <% end %>
</ul>
<br>

<%= link_to "Add new product", new_product_path %>